@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* These are the properties that apply to the webpage to set the base text color and get rid of the default padding and margin around the body*/
body {
    padding: 0;
    margin: 0 0 10px 0;
    background-color: white;
    color: black;
}

* {
  font-family: "Noto Serif", sans-serif;
}

/*This element is applied by javascript*/
.dark-mode {
    background-color: black;
    color: white;
}

/* These rulesets are for the navbar to format it correctly using a flexbox*/
.navbar {
  position: sticky;
  top: 0;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1b4643;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar li {
    float: left;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

.navbar button {
    display: block;
    background-color: #111111;
}

.navbar img {
    width: 35px;
    height: 35px;
    transition: 0.4s;
}

.navbar a:hover {
  background-color: #111111;
}

.navbar a.active {
    background-color: rgb(32, 190, 190);
}

/* This is the important container class that is used througout the webiste to place images and paragraphs side by side*/
.p-with-img-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.p-with-img-container p {
    margin-top: 0;
    margin-right: 5px;
    max-width: 75%;
}

.p-with-img-container ol {
    margin-top: 0;
    margin-right: 5px;
    max-width: 75%;
}

.p-with-img-container ul {
    margin-top: 0;
    margin-right: 5px;
    max-width: 75%;
}

.p-with-img-container img {
    height: auto;
    width: 25%;
    max-width: 200px;
}

/* These elements are used on the main page to create to two boxes with two descriptions each */

.side-div-left {
    float: left;
    margin-right: 20px;
}

.bordered {
    border-style: solid;
    border-color: rgb(0, 54, 105);
    border-radius: 10px;
    border-width: 3px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.container div {
    max-width: 800px;
    width: 100%;
    padding: 10px;
}

/* This is for the answer button to display inline so that the answer apears next to it */
#answerButton {
    display: inline;
}

/* This centers the paragraph headers */
h3 {
    text-align: center;
}

/* This adds borders to the table */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* These are for the quantum physics page to set the layout using floats instead of flexboxes */
.left-p{
    float: left;
    width: 75%;
    clear: left;
}

.right-img{
    float: left;
    width: 25%;
}

.floating-heading{
    float: left;
    clear: left;
    margin-left: 25%;
    margin-right: 25%;
}

/* This centers the title of a page */
.pagetitle {
    text-align: center;
}

/* This replaces the underline on links with a bold font weight */
a {
    text-decoration-line: none;
    font-weight: bold;
}

/* This changes the color of links during dark mode */
.dark-mode a{
    color: #3a8dd6;
}

/* h6 is used as an image caption, but the image is on the right, so the caption has to float right to be under the image */
h6 {
    float: right;
}

/* this sets margins around the main page */
main {
    margin-left: 20%;
    margin-right: 20%;
}