body {
    padding: 0;
    margin: 0;
}

.pagetitle {
    text-align: center;
}

a {
    text-decoration-line: none;
    font-weight: bold;
}

.navbar {
  position: sticky;
  top: 0;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1b4643;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar li {
    float: left;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
  background-color: #111111;
}

.navbar a.active {
    background-color: rgb(32, 190, 190);
}

img {
    width: 100px;
<<<<<<< HEAD
=======
}

.p-with-img{
    float: left; 
    margin-top: 0px;
    width: 500px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
>>>>>>> b48a3d8 (Added navbar)
}